<!DOCTYPE html>
<html>
<head>
  <title>Anonymous Message Board</title>
  <meta name="description" content="freeCodeCamp project boilerplate">
  <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <h1 id='threadTitle'></h1>
  </header>
  <br>
  <div id='boardDisplay'></div>
  <hr style='margin: 50px; margin-top: 200px'>
  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
          integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
          crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      var currentURL = window.location.pathname.slice(3).split('/');
      var board = currentURL[0];
      var threadId = currentURL[1];

      $('#threadTitle').text(window.location.pathname);

      function loadThread() {
        var url = `/api/replies/${board}`;
        $.ajax({
          type: "GET",
          url: url,
          data: { thread_id: threadId },
          success: function(ele) {
            displayThread(ele);
          },
          error: function() {
            alert('Failed to load thread.');
          }
        });
      }

      function displayThread(ele) {
        var threadHTML = `
          <div class="thread">
            <div class="main">
              <p class="id">id: ${ele._id} (${ele.created_on})</p>
              <form id="reportThread">
                <input type="hidden" name="report_id" value="${ele._id}">
                <input type="submit" value="Report">
              </form>
              <form id="deleteThread">
                <input type="hidden" value="${ele._id}" name="thread_id" required>
                <input type="text" placeholder="password" name="delete_password" required>
                <input type="submit" value="Delete">
              </form>
              <h3>${ele.text}</h3>
            </div>
            <div class="replies">
              ${ele.replies.map(rep => `
                <div class="reply">
                  <p class="id">id: ${rep._id} (${rep.created_on})</p>
                  <form id="reportReply">
                    <input type="hidden" name="thread_id" value="${ele._id}">
                    <input type="hidden" name="reply_id" value="${rep._id}">
                    <input type="submit" value="Report">
                  </form>
                  <form id="deleteReply">
                    <input type="hidden" value="${ele._id}" name="thread_id" required>
                    <input type="hidden" value="${rep._id}" name="reply_id" required>
                    <input type="text" placeholder="password" name="delete_password" required>
                    <input type="submit" value="Delete">
                  </form>
                  <p>${rep.text}</p>
                </div>
              `).join('')}
              <div class="newReply">
                <form action="/api/replies/${board}/" method="post" id="newReply">
                  <input type="hidden" name="thread_id" value="${ele._id}">
                  <textarea rows="5" cols="80" type="text" placeholder="Quick reply..." name="text" required></textarea><br>
                  <input type="text" placeholder="password to delete" name="delete_password" required>
                  <input style="margin-left: 5px" type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
        `;
        $('#boardDisplay').html(threadHTML);
      }

      loadThread();

      function submitFormHandler(e, url, method) {
        e.preventDefault();
        $.ajax({
          type: method,
          url: url,
          data: $(e.target).serialize(),
          success: function(data) {
            alert(data);
            loadThread();
          },
          error: function() {
            alert('Failed to perform the action.');
          }
        });
      }

      $('#boardDisplay').on('submit', '#reportThread', function(e) {
        submitFormHandler(e, `/api/threads/${board}`, 'PUT');
      });

      $('#boardDisplay').on('submit', '#reportReply', function(e) {
        submitFormHandler(e, `/api/replies/${board}`, 'PUT');
      });

      $('#boardDisplay').on('submit', '#deleteThread', function(e) {
        submitFormHandler(e, `/api/threads/${board}`, 'DELETE');
      });

      $('#boardDisplay').on('submit', '#deleteReply', function(e) {
        submitFormHandler(e, `/api/replies/${board}`, 'DELETE');
      });
    });
  </script>
</body>
</html>
